body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#007bff;
    color: white;
    padding: 10px 20px;
  }
  
  .header-logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .header-actions a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 1rem;
  }
  
  .header-actions a:hover {
    text-decoration: underline;
  }
  
  
  .car-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .car-card {
	border: 1px solid #ddd;
	border-radius: 8px;
	padding: 16px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 350px; /* Увеличиваем минимальную высоту карточки для размещения футера */
  }
  
  .car-card img {
	max-width: 100%;
	height: auto;
	border-radius: 4px;
  }
  
  .car-card button {
	background-color: #007bff;
	color: white;
	border: none;
	padding: 8px 16px;
	border-radius: 4px;
	cursor: pointer;
  }
  
  .car-card button:hover {
	background-color: #0056b3;
  }
  
  .car-card-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 8px;
	width: 100%;
	max-width: 250px;
	margin-top: auto; /* Отталкивает футер вниз, не выходя за пределы карточки */
  }
  
  .action-button {
	width: 100%;
	max-width: 250px;
  }
  
  .car-card-p {
	text-align: center;
	font-size: 14px;
	color: #888;
	margin-top: 0;
  }
  
  
  
  
  .cart {
    padding: 20px;
  }
  
  .cart ul {
    list-style: none;
    padding: 0;
  }
  
  .cart li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .cart li img {
    border-radius: 4px;
  }
  .cart-item-enter {
    opacity: 0;
  }
  
  .cart-item-enter-active {
    opacity: 1;
    transition: opacity 300ms;
  }
  
  .cart-item-exit {
    opacity: 1;
  }
  
  .cart-item-exit-active {
    opacity: 0;
    transition: opacity 300ms;
  }
  #cssload-wrapper {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 15;
	overflow: hidden;
}

.cssload-loader {
	width: 413px;
	height: 413px;
	border: 3px rgb(0,0,0) solid;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -206px 0 0 -206px;
	border-radius: 50%;
		-o-border-radius: 50%;
		-ms-border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
}

.cssload-loader .cssload-loading {
	font-size: 28px;
	position: absolute;
	width: 100%;
	text-align: center;
	line-height: 39px;
	font-family: 'Century Gothic', sans-serif;
	font-style: italic;
	left: 0;
	top: 50%;
	margin-top: 55px;
	color: rgb(0,0,0);
	font-weight: bold;
	text-transform: uppercase;
		-o-text-transform: uppercase;
		-ms-text-transform: uppercase;
		-webkit-text-transform: uppercase;
		-moz-text-transform: uppercase;
}

.cssload-loader-circle-1 {
	width: 380px;
	height: 380px;
	left: 14px;
	top: 14px;
	border: 3px rgb(0,0,0) solid;
	position: absolute;
	border-right-color: transparent;
	border-radius: 50%;
		-o-border-radius: 50%;
		-ms-border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
	animation: spin 6.15s linear infinite;
		-o-animation: spin 6.15s linear infinite;
		-ms-animation: spin 6.15s linear infinite;
		-webkit-animation: spin 6.15s linear infinite;
		-moz-animation: spin 6.15s linear infinite;
}

.cssload-loader-circle-2 {
	width: 347px;
	height: 347px;
	left: 14px;
	top: 14px;
	border: 3px transparent solid;
	position: absolute;
	border-right-color: rgb(232,21,18);
	border-radius: 50%;
		-o-border-radius: 50%;
		-ms-border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
	animation: spin 10.25s linear infinite;
		-o-animation: spin 10.25s linear infinite;
		-ms-animation: spin 10.25s linear infinite;
		-webkit-animation: spin 10.25s linear infinite;
		-moz-animation: spin 10.25s linear infinite;
}

.cssload-loader .cssload-line {
	width: 28px;
	height: 6px;
	background: rgb(0,0,0);
	position: absolute;
}

.cssload-loader .cssload-line:nth-child(1) {
	left: 44px;
	top: 50%;
	margin-top: -3px;
}

.cssload-loader .cssload-line:nth-child(2) {
	transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
	left: 91px;
	top: 91px;
}

.cssload-loader .cssload-line:nth-child(3) {
	top: 44px;
	left: 50%;
	width: 6px;
	height: 28px;
}

.cssload-loader .cssload-line:nth-child(4) {
	transform: rotate(135deg);
		-o-transform: rotate(135deg);
		-ms-transform: rotate(135deg);
		-webkit-transform: rotate(135deg);
		-moz-transform: rotate(135deg);
	right: 91px;
	top: 91px;
}

.cssload-loader .cssload-line:nth-child(5) {
	right: 44px;
	top: 50%;
	margin-top: -3px;
}

.cssload-loader .cssload-line:nth-child(6) {
	transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
	right: 91px;
	bottom: 91px;
	background: rgb(232,21,18);
}

.cssload-loader .cssload-subline {
	position: absolute;
	width: 8px;
	height: 6px;
	background: rgb(0,0,0);
}

.cssload-loader .cssload-subline:nth-child(7) {
	transform: rotate(22.5deg);
		-o-transform: rotate(22.5deg);
		-ms-transform: rotate(22.5deg);
		-webkit-transform: rotate(22.5deg);
		-moz-transform: rotate(22.5deg);
	left: 58px;
	top: 138px;
}

.cssload-loader .cssload-subline:nth-child(8) {
	transform: rotate(67.5deg);
		-o-transform: rotate(67.5deg);
		-ms-transform: rotate(67.5deg);
		-webkit-transform: rotate(67.5deg);
		-moz-transform: rotate(67.5deg);
	left: 138px;
	top: 58px;
}

.cssload-loader .cssload-subline:nth-child(9) {
	transform: rotate(112.5deg);
		-o-transform: rotate(112.5deg);
		-ms-transform: rotate(112.5deg);
		-webkit-transform: rotate(112.5deg);
		-moz-transform: rotate(112.5deg);
	right: 138px;
	top: 58px;
}

.cssload-loader .cssload-subline:nth-child(10) {
	transform: rotate(157.5deg);
		-o-transform: rotate(157.5deg);
		-ms-transform: rotate(157.5deg);
		-webkit-transform: rotate(157.5deg);
		-moz-transform: rotate(157.5deg);
	right: 58px;
	top: 138px;
}

.cssload-loader .cssload-subline:nth-child(11) {
	transform: rotate(22.5deg);
		-o-transform: rotate(22.5deg);
		-ms-transform: rotate(22.5deg);
		-webkit-transform: rotate(22.5deg);
		-moz-transform: rotate(22.5deg);
	right: 55px;
	bottom: 135px;
	background: rgb(232,21,18);
}

.cssload-loader .cssload-needle {
	width: 39px;
	height: 39px;
	border: 3px rgb(0,0,0) solid;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -22px 0 0 -22px;
	z-index: 1;
	border-radius: 50%;
		-o-border-radius: 50%;
		-ms-border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
	animation: pegIt 6.15s infinite ease-in-out;
		-o-animation: pegIt 6.15s infinite ease-in-out;
		-ms-animation: pegIt 6.15s infinite ease-in-out;
		-webkit-animation: pegIt 6.15s infinite ease-in-out;
		-moz-animation: pegIt 6.15s infinite ease-in-out;
}

.cssload-loader .cssload-needle:before {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 9.5px 138px 9.5px 0;
	border-color: transparent rgb(232,21,18) transparent transparent;
	position: absolute;
	right: 50%;
	top: 50%;
	margin: -9.5px 0 0 0;
	border-radius: 0 50% 50% 0;
		-o-border-radius: 0 50% 50% 0;
		-ms-border-radius: 0 50% 50% 0;
		-webkit-border-radius: 0 50% 50% 0;
		-moz-border-radius: 0 50% 50% 0;
}





@keyframes pegIt {
	0% {
		transform: rotate(0deg);
	}
	16% {
		transform: rotate(75deg);
	}
	25% {
		transform: rotate(55deg);
	}
	30% {
		transform: rotate(90deg);
	}
	36% {
		transform: rotate(170deg);
	}
	42% {
		transform: rotate(150deg);
	}
	50% {
		transform: rotate(227deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@-o-keyframes pegIt {
	0% {
		-o-transform: rotate(0deg);
	}
	16% {
		-o-transform: rotate(75deg);
	}
	25% {
		-o-transform: rotate(55deg);
	}
	30% {
		-o-transform: rotate(90deg);
	}
	36% {
		-o-transform: rotate(170deg);
	}
	42% {
		transform: rotate(150deg);
	}
	50% {
		-o-transform: rotate(227deg);
	}
	100% {
		-o-transform: rotate(0deg);
	}
}

@-ms-keyframes pegIt {
	0% {
		-ms-transform: rotate(0deg);
	}
	16% {
		-ms-transform: rotate(75deg);
	}
	25% {
		-ms-transform: rotate(55deg);
	}
	30% {
		-ms-transform: rotate(90deg);
	}
	36% {
		-ms-transform: rotate(170deg);
	}
	42% {
		transform: rotate(150deg);
	}
	50% {
		-ms-transform: rotate(227deg);
	}
	100% {
		-ms-transform: rotate(0deg);
	}
}

@-webkit-keyframes pegIt {
	0% {
		-webkit-transform: rotate(0deg);
	}
	16% {
		-webkit-transform: rotate(75deg);
	}
	25% {
		-webkit-transform: rotate(55deg);
	}
	30% {
		-webkit-transform: rotate(90deg);
	}
	36% {
		-webkit-transform: rotate(170deg);
	}
	42% {
		transform: rotate(150deg);
	}
	50% {
		-webkit-transform: rotate(227deg);
	}
	100% {
		-webkit-transform: rotate(0deg);
	}
}

@-moz-keyframes pegIt {
	0% {
		-moz-transform: rotate(0deg);
	}
	16% {
		-moz-transform: rotate(75deg);
	}
	25% {
		-moz-transform: rotate(55deg);
	}
	30% {
		-moz-transform: rotate(90deg);
	}
	36% {
		-moz-transform: rotate(170deg);
	}
	42% {
		transform: rotate(150deg);
	}
	50% {
		-moz-transform: rotate(227deg);
	}
	100% {
		-moz-transform: rotate(0deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@-o-keyframes spin {
	0% {
		-o-transform: rotate(0deg);
	}
	100% {
		-o-transform: rotate(360deg);
	}
}

@-ms-keyframes spin {
	0% {
		-ms-transform: rotate(0deg);
	}
	100% {
		-ms-transform: rotate(360deg);
	}
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes spin {
	0% {
		-moz-transform: rotate(0deg);
	}
	100% {
		-moz-transform: rotate(360deg);
	}
}
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f9;
  }
  
  .login-form-container {
    width: 400px;
    padding: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .login-form-container h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  
  .login-form-container form {
    display: flex;
    flex-direction: column;
  }
  
  .login-form-container label {
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
  }
  
  .login-form-container input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .login-form-container input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .login-form-container button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .login-form-container button:hover {
    background-color: #0056b3;
  }
  
  .login-form-container p {
    text-align: center;
    color: red;
    font-weight: bold;
    margin-top: 10px;
  }

/* стили для списка брендов */
.brand-list-container {
    padding: 20px;
    background-color: #f7e5e5;
    text-align: center;
    border-radius: 5px;
  }
  
  .brand-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .brand-item {
    margin: 10px;
    padding: 5px;
  }
  
  .brand-link {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .brand-link:hover {
    background-color: #2980b9;
  }
 /* общие стили для контейнера корзины */
.cart {
	max-width: 1200px;
	margin: 30px auto;
	padding: 30px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
	font-family: 'Roboto', sans-serif;
	color: #333;
  }
  
  .cart {
	width: 80%;
	margin: 0 auto;
	padding: 20px;
	background-color: #f9f9f9;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
	text-align: center;
	color: #333;
	font-size: 32px;
	margin-bottom: 20px;
  }
  
  .cart-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #fff;
	padding: 20px;
	margin: 15px 0;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .cart-item-image {
	width: 120px;
	height: 120px;
	object-fit: cover;
	border-radius: 8px;
  }
  
  .cart-item-details {
	flex: 1;
	margin-left: 20px;
  }
  
  .cart-item-details h3 {
	font-size: 24px;
	color: #333;
	margin-bottom: 10px;
  }
  
  .cart-item-details p {
	font-size: 16px;
	color: #555;
	margin: 5px 0;
  }
  
  .cart-item-details strong {
	font-weight: 600;
  }
  
  .remove-btn {
	background-color: #e74c3c;
	color: #fff;
	padding: 10px 20px;
	font-size: 14px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
  }
  
  .remove-btn:hover {
	background-color: #c0392b;
  }
  
  .empty-cart {
	text-align: center;
	font-size: 18px;
	color: #888;
  }
  
  @media (max-width: 768px) {
	.cart {
	  width: 95%;
	}
  
	.cart-item {
	  flex-direction: column;
	  align-items: flex-start;
	}
  
	.cart-item-image {
	  width: 100%;
	  height: auto;
	}
  
	.cart-item-details {
	  margin-left: 0;
	}
  }
  
/* общие стили для страницы */
.car-list-page {
	display: flex;
	justify-content: space-between;
	padding: 20px;
  }
  
  /* стили для боковой панели с фильтрами */
  .filters-sidebar {
	width: 25%;
	padding-right: 20px;
	box-sizing: border-box;
  }
  
  /* стили для списка автомобилей */
  .car-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 20px;
	padding: 20px;
	justify-items: center; 
  }
  
  /* карточка автомобиля */
  .car-list .car-card {
	width: 250px;
	padding: 15px;
	border: 1px solid #ddd;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* стили для формы фильтров */
  .filter-bar {
	display: flex;
	flex-direction: column;
  }
  
  .filter-bar label,
  .filter-bar select,
  .filter-bar input {
	margin-bottom: 10px;
  }
  
  .filter-bar button {
	margin-top: 10px;
	padding: 10px;
	background-color: #4CAF50;
	color: white;
	border: none;
	cursor: pointer;
	border-radius: 5px;
  }
  
  .filter-bar button:hover {
	background-color: #45a049;
  }
  
  .filter-bar select {
	width: 100%;
	padding: 8px;
	margin-bottom: 10px;
  }
  
  .pagination {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px 0;
  }
  
  .pagination-controls {
	display: flex;
	align-items: center;
  }
  
  .pagination-button {
	padding: 8px 12px;
	margin: 0 10px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  
  .pagination-button:disabled {
	background-color: #ddd;
	cursor: not-allowed;
  }
  
  .page-numbers {
	display: flex;
	align-items: center;
  }
  
  .page-button {
	margin: 0 5px;
	padding: 8px 12px;
	background-color: #f0f0f0;
	color: #333;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	transition: background-color 0.3s;
  }
  
  .page-button:hover {
	background-color: #007bff;
	color: white;
  }
  
  .page-button.active {
	background-color: #007bff;
	color: white;
  }
  
  .items-per-page-selector {
	display: flex;
	align-items: center;
  }
  
  .items-per-page-selector label {
	font-size: 14px;
	margin-left: 10px;
  }
  
  .items-per-page-selector select {
	padding: 5px;
	font-size: 14px;
	margin-left: 5px;
  }
  
  /* Стили для страницы добавления объявления */
.advertisement-form {
	display: flex;
	flex-direction: column;
	gap: 16px;
	max-width: 600px;
	margin: 20px auto;
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 8px;
	background-color: #fff;
  }
  
  .advertisement-form h1 {
	text-align: center;
	font-size: 24px;
	margin-bottom: 20px;
	color: #333;
  }
  
  .advertisement-form label {
	font-size: 16px;
	font-weight: bold;
	color: #333;
	margin-bottom: 6px;
  }
  
  .advertisement-form input,
  .advertisement-form select,
  .advertisement-form textarea {
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 16px;
	width: 100%;
  }
  
  .advertisement-form input[type="number"] {
	width: 100%;
  }
  
  .advertisement-form textarea {
	height: 120px;
	resize: vertical;
  }
  
  .advertisement-form button {
	background-color: #007bff;
	color: white;
	border: none;
	padding: 12px 20px;
	border-radius: 4px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	width: 100%;
  }
  
  .advertisement-form button:hover {
	background-color: #0056b3;
  }
  
  .advertisement-form button:active {
	background-color: #004080;
  }
  
  .advertisement-form select {
	cursor: pointer;
  }
  
  .advertisement-form input:focus,
  .advertisement-form select:focus,
  .advertisement-form textarea:focus {
	outline: none;
	border-color: #007bff;
	box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  /* Стили для поля загрузки изображения */
  .advertisement-form input[name="image"] {
	padding: 10px;
	font-size: 14px;
  }
  
  /* Стиль для кнопки отправки формы */
  .advertisement-form button {
	width: 100%;
	background-color: #28a745;
  }
  
  .advertisement-form button:hover {
	background-color: #218838;
  }
  .ad-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Сетка с адаптивным количеством колонок */
	gap: 20px;
	padding: 20px;
  }
  
  .ad-card {
	border: 1px solid #ddd;
	border-radius: 8px;
	padding: 16px;
	text-align: center;
	background-color: #fff;
	display: flex;
	flex-direction: column;  /* Вертикальное выравнивание содержимого */
	justify-content: flex-start;  /* Контент будет выравниваться сверху */
	height: 100%;  /* Карточка будет растягиваться по высоте */
  }
  
  .ad-card img {
	width: 100%; /* Картинка будет растягиваться по ширине карточки */
	max-width: 100%; /* Максимальная ширина картинки */
	height: auto; /* Высота автоматически в зависимости от пропорций */
	object-fit: contain; /* Картинка сохраняет свои пропорции */
	border-radius: 4px;
	margin: 0 auto;
  }
  
  .ad-card h3 {
	font-size: 1.2rem;
	margin: 10px 0;
  }
  
  .ad-card p {
	font-size: 1rem;
	margin-bottom: 10px;
  }
  
  .ad-card .button-container {
	margin-top: auto; /* Кнопки всегда внизу карточки */
	display: flex;
	flex-direction: column;
	gap: 10px;
  }
  
  .ad-card button {
	background-color: #007bff;
	color: white;
	border: none;
	padding: 8px 16px;
	border-radius: 4px;
	cursor: pointer;
	font-size: 1rem;
	transition: background-color 0.3s ease;
  }
  
  .ad-card button:hover {
	background-color: #0056b3;
  }
  
  .ad-card button:disabled {
	background-color: #ccc;
	cursor: not-allowed;
  }
  
  .page-title {
	font-size: 2rem;
	margin-bottom: 30px;
	text-align: center;
  }
  